/*Main CSS*/
/*
Color Pallet
Blue: #3F51B5
Yellow: #FFC107
*/
/*Global Styles*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: helvetica;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

i {
  color: black;
}

i:hover{
  color: #FFC107;
  transition: 1s ;
}
li {
  list-style: none;
}

#canvasoverlay {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  background:url(./assets/new-hero-photo.jpeg);
  background-position: left;
  background-size: cover;
  z-index: 8;
}

.component-content-title {
  border-bottom: 2px solid #FFC107;
  /*Following commented out lines are experiment with gradient underlines*/
  /*border-bottom: 2px solid transparent;*/
  /*border-image: linear-gradient(to right, purple 22%, red 36%, orange 48%, yellow 63%, green 76%, blue) 1 100%;
  border-image-slice: 1;*/
  margin: 3.5% auto;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

.hidden {
  display: none;
}

.page-content-container {
  display: inline;
}

/*Shared Navigation Styles*/
.nav-background {
  background-color: #FFF;
  box-shadow: 0 4px 6px -6px black;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-container {
  height: 0;
  position: fixed;
  width: 100%;
  z-index: 11;
}

.nav-list-container {
  margin: 36px auto;
  padding: 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 0px;
  width: 100%;
  z-index: 11;
}

.nav-list-container li {
  display: inline;
  font-size: 1.25em;
  font-weight: 500;
  margin-left: 30px;
}

.nav-list-container a {
  color: black;
  text-decoration: none;
}

.nav-list-container li:hover {
  border-bottom: 2px solid #FFC107;
  cursor: pointer;
  font-weight: bold;
  height: 15px;
  /*border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, purple 22%, red 36%, orange 48%, yellow 63%, green 76%, blue) 1 100%;*/
  border-image-slice: 1;
  padding-bottom: 10px;
  animation: moveOut .35s linear;
  -webkit-animation: moveOut .35s linear;
}

@-webkit-keyframes moveOut{
    from {padding-bottom: 25px;}
    to {padding-bottom: 10px;}
}

@keyframes moveOut {
    from {padding-bottom: 25px;}
    to {padding-bottom: 10px;}
}

.nav-logo {
  left: 0;
  margin: 18px 4%;
  width: 50px;
  position: absolute;
  top: 0;
  z-index: 11;
}

/*Mobile Nav*/
.close-mobile-nav {
  margin: 0;
}

.mobile-nav-menu-icon {
  display: none;
  z-index: 11;
}

.mobile-nav-menu-icon i:hover{
  color: #FFC107;
  cursor: pointer;
}

.open-mobile-nav {
  padding: 200px 0px;
  position: absolute;
  background: white;
  z-index: 10;
  width: 100%;
  margin-top: 70px;
  opacity: 1;
  text-align: center;
  transition: 0.45s;
}

.open-mobile-nav a {
  color: black;
  margin-bottom: 10px;
  text-decoration: none;
}

.open-mobile-nav li {
  border-bottom: solid 2px #FFC107;
  list-style: none;
  display: block;
  margin-bottom: 5%;
  margin: 2% auto;
  padding: 15px 0;
  width: 108px;
  text-transform: uppercase;
}

.close {
  display: none;
}

.open {
  display: block;
}

.nav-modal {
  margin: 0;
}

/*Landing Styles*/
.landing-button {
  color: white;
  margin-top: 600px;
  display: none;
  z-index: 20;
  left: 40%;
  position: absolute;
  background-color: black;
  padding: 1.5%;
  text-transform: uppercase;
  border-radius: 50px;
}

.landing-message p{
  color: white;
  display: block;
  font-size: 4em;
  font-weight: 600;
  left: 25%;
  min-width: 51%;
  margin: 0;
  right: 25%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 4px 3px black;
  top: 30%;
  z-index: 9;
}

/*About Me Section*/
.about-container {
  margin-top: 75%;
  position: relative;
  width: 100%;
  z-index: 3;
}

.about-container-back {
  -webkit-box-shadow: -1px 1px 24px 0 rgba(0,0,0,0.3);
  box-shadow: -1px 1px 24px 0 rgba(0,0,0,0.3);
  height: 50%;
  margin: 0 5%;
  position: absolute;
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  width: 90%;
  z-index: -1;
}

.about-container-front {
  background-color: white;
  box-shadow: -1px 1px 24px 0 rgba(0,0,0,0.3);
  height: 50%;
  margin: 0 5%;
  position: absolute;
  width: 90%;
  z-index: 1;
}

.about-content {
  font-size: 1.5em;
  line-height: 2em;
  margin: 0 auto;
  padding-bottom: 10px;
  text-indent: 50px;
  width: 80%;
}

.about-img-container {
  width: 100%;
}

.about-img-container img {
  display: block;
  margin: 10px auto;
  width: 500px;
}

/*Skills*/
.skill-container {
  width: 33%;
  display: block;
  margin: 5%;
  transition: all .2s ease-in-out;
  width: 90%;
}

.skill-container:hover {
  transform: scale(1.1);
  transform: perspective();
}

.center-item {
  width: 90%;
  margin: 0 5%;
  text-align: center;
}

/*Projects*/
.slide-container {
  width: 33%;
  display: inline-block;
  transition: all .2s ease-in-out;
}

.slide-container:hover {
  transform: scale(1.1);
  transform: perspective();
}

.slides-container {
  display: inline-block;
  position: relative;
  width: 100%;
}
.slides-container:nth-child(even) {
  /*margin-top: 0;*/
}

.slide-content {
  font-size: 1.5em;
}

.slide-image {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.slide-info {
  display: block;
  margin: 5%;
  text-align: center;
  width: 90%;
}

/*Contact*/
.contact-message {
  font-size: 1.5em;
}

.contact-link {
  color: #FFC107;
  font-size: 2em;
}

/*Footer*/
.footer-container {
  position: relative;
  height: 30%;
  width: 100%;
}

.footer-info {
  font-size: 1.5em;
  text-align: center;
  /*text-transform: uppercase;*/
}

.footer-link-container {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 90%;
}

.footer-link-container li, a {
  display: inline;
  margin: 10px;
  text-decoration: none;
}

.skills-change-text {
  /*line-height: 500px;*/
  text-align: center;
  font-size: 3em;
  /*font-family: 'Roboto Slab', serif;*/
  text-transform: uppercase;
}

@keyframes blinking {
  0%    { opacity: 0; }
  50%   { opacity: 0; }
  51%   { opacity: 1; }
  100%  { opacity: 1; }
}

.skills-change-text:after {
  color: #FFC107;
  content: '_';
  animation: blinking 1.2s infinite;
}

.skills-description {
  text-align: center;
}

@media only screen and (min-width: 1440px) {
  /*HD Desktop*/
  .landing-message p {
    top: 34%;
  }
}

@media only screen and (max-width: 1028px) {
  .landing-button {
    display: none;
    left: 38%;
  }
}

@media only screen and (max-width: 1024px) {
  /*Mobile device screens*/
  html {
    overflow-x: hidden;
  }

  #canvasoverlay {
    /*display: none;*/
    /*top: -810px;*/
  }

  .about-wrapper {
    margin-top: 140%;
  }

  .slides-container {
    /*margin-top: 1200px;*/
  }

  .close-mobile-nav {
    margin: 0;
    margin-left: -20%;
  }

  .landing-button {
    display: none;
  }

  .landing-message p {
    font-size: 5em;
    left: 0;
    min-width: 100%;
    top: 30%;
  }

  .nav-list-container,
  .nav-list-container li {
    display: none;
  }

  .nav-background {
    height: 90px;
  }

  .mobile-nav-menu-icon {
    display: inline;
    float: right;
    margin: 3% 4%;
    position: relative;
  }

  .open-mobile-nav {
    font-size: 2em;
    height: auto;
  }

  .open-mobile-nav li {
    width: 18%;
  }
}

@media only screen and (max-width: 760px) {
  .nav-background {
    height: 200%;
  }

  .nav-logo {
    margin: 4% 4%;
  }

  .mobile-nav-menu-icon {
    margin: 5% 5%;
  }
}

@media only screen and (max-width: 480px) {
  /*Small mobile devices*/
  .about-wrapper {
    margin-top: 200%;
  }

  .contact-link {
    font-size: 4em;
  }

  .contact-message {
    font-size: 3em;
  }

  .footer-container,
  .footer-info p {
    font-size: 2em;
  }

  .slide-content {
    font-size: 3em;
  }

  .component-content-title {
    font-size: 3em;
  }

  .page-content-container {
    position: absolute;
  }

  .about-content {
    font-size: 2.6em;
    /*line-height: 2em;*/
    margin: 0 auto;
    padding-bottom: 10px;
    text-indent: 25px;
    width: 90%;
  }

  .about-container-back,
  .about-container-front {
    display: none;
  }

  .about-content-title {
    margin-bottom: 10px;
    width: 90%;
  }

  .about-img-container img {
    width: 50%;
  }

  .landing-message p {
    top: 4%;
  }

  .slide-container {
    width: 100%;
    display: block;
  }

  .slide-links {
    font-size: 2em;
  }

  .skills-description {
    font-size: 3em;
  }
}

@media only screen and (max-width: 420px) {
  .nav-background {
    height: 125%;
  }
}
