/*Main CSS*/
/*
Color Pallet
Blue: 3F51B5
Light-grey:
Yellow: FFC107
*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
li {
  list-style: none;
}
/*Navigation Styles*/
.nav-background {
  background-color:lightgrey;
  width: 100%;
  height: 70px;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
}
.nav-container {
  position: relative;
  width: 100%;
  z-index: 10;
}
.nav-list-container {
  display: inline-flex;
  float: right;
  margin: 28px 10px;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
}
.nav-list-container li {
  color: #3F51B5;
  font-weight: 400;
  margin-left: 10px;

}
.nav-list-container li:hover {
  bod
  cursor: pointer;
  font-weight: bold;
  height: 15px;
  border-bottom: solid 2px #FFC107;
}
.nav-logo {
  margin: 10px;
  width: 50px;
}
