/*Main CSS*/
/*
Color Pallet
Blue: 3F51B5
Light-grey:
Yellow: FFC107
*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 1500px;
  overflow-x: hidden;
  overflow-y: auto;
}
li {
  list-style: none;
}
#canvasoverlay {
  position: relative;
    top: -833px;
    left: 0;
    float: left;
}
.hidden {
  display: none;
}
/*Navigation Styles*/
.nav-background {
  background-color: #FFF;
  width: 100%;
  height: 70px;
  /*opacity: 0.95;*/
  position: fixed;
  top: 0;
  z-index: 10;
}
.nav-container {
  height: 0;
  position: fixed;
  width: 100%;
  z-index: 11;
}
.nav-list-container {
  display: flex;
  margin: 28px auto;
  /*left: 25%;*/
  padding: 0;
  position: relative;
  /*right: 25%;*/
  /*text-align: center;*/
  text-transform: uppercase;
  top: 0px;
  /*width: 45%;*/
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 11;
}
.nav-list-container li {
  /*color: #3F51B5;*/
  font-weight: 400;
  margin-left: 30px;

}
.nav-list-container a {
  color: black;
  text-decoration: none;
}
.nav-list-container li:hover {
  cursor: pointer;
  font-weight: bold;
  height: 15px;
  border-bottom: solid 2px #FFC107;
  padding-bottom: 10px;
}
.nav-logo {
  left: 0;
  margin: 10px 5%;
  width: 50px;
  position: absolute;
  top: 0;
  z-index: 11;
}
/*Mobile Nav*/
.mobile-nav-menu-icon {
  display: none;
  z-index: 11;
}
.open-mobile-nav {
  padding: 200px;
  position: absolute;
  background: white;
  z-index: 10;
  width: 100%;
  margin-top: 70px;
  opacity: 1;
  transition: 0.25s;
}
.close {
  display: none;
}
.open {
  display: block;
}
/*.nav-modal {
  opacity: 1;
}*/

/*Landing Styles*/
.landing-hero-img {

}
.landing-message {
  color: white;
  display: block;
  font-size: 5em;
  font-weight: 600;
  left: 25%;
  min-width: 50%;
  right: 25%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  top: 33%;
  z-index: 9;
}


@media only screen and (max-width: 1020px) {
  /*For mobile*/
  .landing-message {
    font-size: 3em;
    left: 0;
    min-width: 100%;
  }
  .nav-list-container,
  .nav-list-container li {
    display: none;
  }
  .mobile-nav-menu-icon {
    display: inline;
    float: right;
    margin: 18px 5%;
    position: relative;
  }
}
